{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<!--<link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.png">-->

	<title>Halloween Costume Contest</title>

	<link rel="stylesheet" href="/assets/css/pure-min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<!--<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">-->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="../../assets/js/html5shiv.js"></script>
	<script src="../../assets/js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

  <!-- Fixed navbar -->
<div class="content">
	<header class="header">
		<div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
			<a href="/People/list" class="pure-menu-heading">Costume Contest</a>
			<ul>
				<li><a href="/People/list">Contestants</a></li>
				<li><a href="/Person/show">Your Votes</a></li>
				{{ if .IsLoggedIn }}
					<li><a href="/Session/delete">Logout({{ .GetSessionValues.Name }})</a></li>
				{{ else }}
					<li><a href="/Session/compose">Login</a></li>
				{{ end }}
			</ul>
		</div>
	</header>



  <div id="contentTemplate">

    {{ template "content" . }}

  </div>



  <footer class="footer">
    <div class="pure-g-r">
      <div class="pure-u-1-2">
        <a href="#" id="copyr" class="copyr">&copy;Nick Sanders Studios</a>
      </div>
      <div class="pure-u-1-2">
        <div class="bottom-nav">
          <nav class="pure-menu pure-menu-open pure-menu-horizontal">
            <ul>
              <li><a href="/about">About</a></li>
            </ul>
          </nav>
        </div>
      </div> 
    </div>
  </footer>

</body>
</html>
{{end}}